<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70832047773-0i19f0qc9fanjek4taql12rct2cdvn84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70832047773-0i19f0qc9fanjek4taql12rct2cdvn84</string>
	<key>API_KEY</key>
	<string>AIzaSyC9wqP3PbkMlWxdB8c9nzUMDxtc88tmv-U</string>
	<key>GCM_SENDER_ID</key>
	<string>70832047773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abkubatt.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-f8856</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-f8856.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70832047773:ios:3bbf880a7152289a703674</string>
</dict>
</plist>